body {
    font-family: "Roboto Mono";
    width: 1100px;
    background-color: #D7E4EB;
    color: #1F1815;
    font-weight: 500;
    margin: auto;
}

#banner {
    width: 1100px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
}

#banner h1 {
    padding-top: 60px;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 2px;
}

#banner h2 {
    font-size: 16px;
}

.cloudleft {
    position: absolute;
    left: 60px;
    top:120px;
    animation: floatLeft ease-in-out 10s;
    animation-iteration-count: infinite;
}

.cloudright {
    position: absolute;
    right: 60px;
    top:130px;
    animation: floatRight ease-in-out 10s;
    animation-iteration-count: infinite;
}


/* @keyframes float {
    0% {left: 80px; top: 120px}
    25% {left: 100px; top: 140px}
    50% {left: 120px; top: 160px}
    75% {left: 140px; top: 140px}
    100% {left: 160px; top: 120px}
} */

@keyframes floatLeft {
    0% {left: 60px; top: 130px}
    20% {left: 130px; top: 150px}
    50% {left: 180px; top: 130px}
    70% {left: 130px; top: 150px}
    100% {left: 60px; top: 130px}
}

@keyframes floatRight {
    0% {right: 60px; top: 130px}
    30% {right: 130px; top: 150px}
    50% {right: 180px; top: 130px}
    80% {right: 130px; top: 150px}
    100% {right: 60px; top: 130px}
}

main {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
}

section h2 {
    text-align: center;
}

section ul {
    padding: 0;
}

section ul li {
    list-style-type: none;
}

section ul li a {
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color:#372D27;
    border-radius: 8px;
    padding: 12px 24px;
    margin: 12px;
    text-align: center;
    width: 210px;
    transition: 0.5s;
}

section ul li a:hover {
    background-color: #fafafa;
    transform: scale(1.08);
}

.carrot1 {
    position: relative;
    bottom: -110px;
    left: 900px;
}

.carrot2 {
    position: relative;
    bottom: -110px;
    left: 660px;
}

.carrot3 {
    position: relative;
    bottom: -110px;
    left: 420px;
}

.carrot1:hover, .carrot2:hover, .carrot3:hover {
    animation: jump ease-in-out 2s;
    cursor: pointer;
}

/* @keyframes jump {
    0% {bottom: -110px}
    15% {bottom: 0px; transform: scaleX(0);}
    60% {bottom: -110px; transform: scaleX(1);}
    80% {bottom: -105px}
    100% {bottom: -110px}
} */

@keyframes jump {
    0% {bottom: -110px}
    15% {bottom: 0px;}
    60% {bottom: -110px;}
    80% {bottom: -105px}
    100% {bottom: -110px}
}

footer {
    height: 0px;
}

footer div.content {
    text-align: center;
    background-color: #C5BBB5;
    color: #fafafa;
    position: absolute;
    width: 100%;
    left: 0px;
    padding-top: 12px;
    padding-bottom: 28px;
    font-weight: 400;
    /* font-size: 16px; */
}

footer a {
    text-decoration: none;
    color: #fafafa;
}

address a:hover {
    color: #685d56;
}

